<launch>
	<arg name="map"/>
	<!-- 

	This launch file initializes particle filter localization.

	arguments:
		scan_topic - which ROS topic to listen for laser scan information
		odom_topic - which ROS topic to listen for odometry information
		max_particles - number of particles to maintain
		angle_step    - laser scan ranges are downsampled by this factor
		viz - whether or not to publish visualization topics.
		      even if this is enabled, topics are not published unless there are subscribers
		squash_factor - exponent used to "squash" the particle weights before normaliztation
		                helps reduce problems associated with highly peaked prob. distributions

	important parameters:
		range_method: determines which RangeLibc algorithm to use. Options:
			"bl": Bresenham's line. Slowest performance.
			"rm": Ray Marching. Reasonably fast but suboptimal performance.
			"rmgpu": GPU implementation of Ray Marching. Requires RangeLibc to be compiled WITH_CUDA=ON
			"cddt": Compressed Directional Distance Transform. Compressed map representation. Fast query time.
			"pcddt": Same as "cddt" but the data structure is pruned to remove unnecessary elements
			"glt": Lookup table. Precomputes ray cast distances for a discretized state space. 
			       Fast performance on the CPU but long initialization time.
		max_range: maximum range of the laser scanner in meters. Measured ranges beyond max_range are clipped.
		fine_timing: prints extra timing information, useful for profiling the particle filter
		publish_odom: whether or not to publish inferred pose as an odometry message.
		              publishes on /pf/pose/odom
	 -->
	<include file="$(find particle_filter)/launch/map_server.launch">
		<arg name="map" value="$(arg map)"/>
	</include>

	<arg name="scan_topic" default="/scan"/>
	<arg name="odometry_topic" default="/odom"/>
	<!-- <arg name="odometry_topic" default="/odom"/> -->
	<arg name="angle_step" default="18"/>
	<arg name="max_particles" default="4000"/>
    

    <node pkg="amcl" type="amcl" name="amcl">
		<remap from="scan"                      to="$(arg scan_topic)"/>
		<param name="transform_tolerance" value="0.5" /> <!--0.3-->
      	<param name="gui_publish_rate" value="10.0"/>
      	<param name="save_pose_rate" value="0.5"/>
		<param name="laser_max_beams" value="30"/>
		<param name="min_particles" value="500"/>
		<param name="max_particles" value="$(arg max_particles)"/>
		<param name="kld_err" value="0.05"/>
		<param name="kld_z" value="0.99"/>
		<param name="odom_model_type" value="omni-corrected"/>
		<param name="odom_alpha1" value="0.005"/>
		<param name="odom_alpha2" value="0.005"/>
		<!-- translation variance, m -->
		<param name="odom_alpha3" value="0.01"/>
		<param name="odom_alpha4" value="0.005"/>
		<param name="odom_alpha5" value="0.003"/>
		<param name="laser_z_hit" value="0.5"/>
		<param name="laser_z_short" value="0.05"/>
		<param name="laser_z_max" value="0.05"/>
		<param name="laser_z_rand" value="0.5"/>
		<param name="laser_sigma_hit" value="0.2"/>
		<param name="laser_lambda_short" value="0.1"/>
		<param name="laser_lambda_short" value="0.1"/>
		<param name="laser_model_type" value="likelihood_field"/>
		<!-- <param name="laser_model_type" value="beam"/> -->
		<param name="laser_likelihood_max_dist" value="2.0"/>
		<param name="update_min_d" value="0.2"/>
		<param name="update_min_a" value="0.5"/>
		<param name="odom_frame_id" value="odom"/>
		<!--<param name="global_frame_id" value="map"/>-->
		<param name="resample_interval" value="1"/>
		<!--<param name="transform_tolerance" value="0.1"/>-->
		<param name="recovery_alpha_slow" value="0.0"/>
		<param name="recovery_alpha_fast" value="0.0"/>
		<param name="initial_pose_x" value="0"/> 
		<param name="initial_pose_y" value="0"/>
		<param name="initial_pose_a" value="0"/>
		<param name="initial_cov_xx" value="0.1"/> 
		<param name="initial_cov_yy" value="0.1"/>
		<param name="initial_cov_aa" value="0.1"/>
    </node>
</launch>


		 